In [15]:
import sqlite3

# Connect to the SQLite database (create it if it doesn't exist)
conn = sqlite3.connect('person_address.db')

# Create a cursor object to execute SQL queries
cursor = conn.cursor()

# Create the Person and Address tables
cursor.execute('''CREATE TABLE IF NOT EXISTS Person (
                    personId INT PRIMARY KEY,
                    lastName VARCHAR,
                    firstName VARCHAR
                )''')

cursor.execute('''CREATE TABLE IF NOT EXISTS Address (
                    addressId INT PRIMARY KEY,
                    personId INT,
                    city VARCHAR,
                    state VARCHAR
                )''')

# Insert data into the Person table
person_data = [
    (1, 'Wang', 'Allen'),
    (2, 'Alice', 'Bob'),
]

cursor.executemany("INSERT INTO Person (personId, lastName, firstName) VALUES (?, ?, ?)", person_data)

# Insert data into the Address table
address_data = [
    (1, 2, 'New York City', 'New York'),
    (2, 3, 'Leetcode', 'California'),
]

cursor.executemany("INSERT INTO Address (addressId, personId, city, state) VALUES (?, ?, ?, ?)", address_data)

## Problem Description

Table: Person

| Column Name | Type    |
|-------------|---------|
| personId    | int     |
| lastName    | varchar |
| firstName   | varchar |

`personId` is the primary key (column with unique values) for this table.

This table contains information about the ID of some persons and their first and last names.

Table: Address

| Column Name | Type    |
|-------------|---------|
| addressId   | int     |
| personId    | int     |
| city        | varchar |
| state       | varchar |

`addressId` is the primary key (column with unique values) for this table.

Each row of this table contains information about the city and state of one person with `personId`.

Write a SQL query to report the first name, last name, city, and state of each person in the Person table. If the address of a `personId` is not present in the Address table, report null instead.

Return the result table in any order.

### Example

Example 1:

Input:
Person table:
| personId | lastName | firstName |
|----------|----------|-----------|
| 1        | Wang     | Allen     |
| 2        | Alice    | Bob       |

Address table:
| addressId | personId | city          | state      |
|-----------|----------|---------------|------------|
| 1         | 2        | New York City | New York   |
| 2         | 3        | Leetcode      | California |

Output:
| firstName | lastName | city          | state    |
|-----------|----------|---------------|----------|
| Allen     | Wang     | Null          | Null     |
| Bob       | Alice    | New York City | New York |

Explanation:
There is no address in the address table for the personId = 1, so we return null in their city and state.
addressId = 1 contains information about the address of personId = 2.

In [16]:

# TODO Retrieve the result


result = cursor.fetchall()

# Print the result
for row in result:
    print(row)

('Allen', 'Wang', None, None)
('Bob', 'Alice', 'New York City', 'New York')


cursor.execute('''SELECT p.firstName, p.lastName, a.city, a.state
                  FROM Person p
                  LEFT JOIN Address a ON p.personId = a.personId''')

In [17]:

# Close the cursor and the database connection
cursor.close()
conn.close()