In [3]:
import sqlite3

# Connect to the SQLite database (create it if it doesn't exist)
conn = sqlite3.connect('world.db')

# Create a cursor object to execute SQL queries
cursor = conn.cursor()

# Create the World table
cursor.execute('''CREATE TABLE IF NOT EXISTS World (
                    name VARCHAR PRIMARY KEY,
                    continent VARCHAR,
                    area INT,
                    population INT,
                    gdp BIGINT
                )''')

# Insert data into the table
data = [
    ("Afghanistan", "Asia", 652230, 25500100, 20343000000),
    ("Albania", "Europe", 28748, 2831741, 12960000000),
    ("Algeria", "Africa", 2381741, 37100000, 188681000000),
    ("Andorra", "Europe", 468, 78115, 3712000000),
    ("Angola", "Africa", 1246700, 20609294, 100990000000),
]

cursor.executemany("INSERT INTO World (name, continent, area, population, gdp) VALUES (?, ?, ?, ?, ?)", data)

# Commit the changes to the database
conn.commit()

('Afghanistan', 25500100, 652230)
('Algeria', 37100000, 2381741)

## Problem Description

Table: World

| Column Name | Type    |
|-------------|---------|
| name        | varchar |
| continent   | varchar |
| area        | int     |
| population  | int     |
| gdp         | bigint  |

`name` is the primary key (column with unique values) for this table.

Each row of this table gives information about the name of a country, the continent to which it belongs, its area, the population, and its GDP value.

A country is considered big if it satisfies one of the following conditions:
1. It has an area of at least three million square kilometers (i.e., 3,000,000 km²).
2. It has a population of at least twenty-five million (i.e., 25,000,000).

Write a SQL query to find the name, population, and area of the big countries.

Return the result table in any order.

### Example

The result format is as follows:

| name         | population | area      |
|--------------|------------|-----------|
| Country1     | 25000000   | 3000000   |
| Country2     | 3000000    | 25000000  |

## Explanation

- `Country1` satisfies condition 1 (area >= 3,000,000 km²) and condition 2 (population >= 25,000,000).
- `Country2` satisfies condition 1 (area >= 3,000,000 km²) and condition 2 (population >= 25,000,000).
- Other countries in the table may not satisfy any of the conditions, so they are not included in the result.

In [ ]:

# TODO Select the big countries


selected_rows = cursor.fetchall()

# Print the selected rows
for row in selected_rows:
    print(row)

cursor.execute("SELECT name, population, area FROM World WHERE area >= 3000000 OR population >= 25000000")

In [ ]:


# Close the cursor and the database connection
cursor.close()
conn.close()