In [16]:
import sqlite3

# Connect to the SQLite database (create it if it doesn't exist)
conn = sqlite3.connect('employee_d.db')

# Create a cursor object to execute SQL queries
cursor = conn.cursor()

# Create the Employee table and insert data
cursor.execute('''CREATE TABLE IF NOT EXISTS Employee (
                    id INT PRIMARY KEY,
                    salary INT
                )''')

# Insert data into the Employee table
employee_data = [
    (1, 100),
    (2, 200),
    (3, 300),
]



cursor.executemany("INSERT INTO Employee (id, salary) VALUES (?, ?)", employee_data)

## Problem Description

Table: Person

| Column Name | Type    |
|-------------|---------|
| personId    | int     |
| lastName    | varchar |
| firstName   | varchar |

`personId` is the primary key (column with unique values) for this table.

This table contains information about the ID of some persons and their first and last names.

Table: Address

| Column Name | Type    |
|-------------|---------|
| addressId   | int     |
| personId    | int     |
| city        | varchar |
| state       | varchar |

`addressId` is the primary key (column with unique values) for this table.

Each row of this table contains information about the city and state of one person with `personId`.

Write a SQL query to report the first name, last name, city, and state of each person in the Person table. If the address of a `personId` is not present in the Address table, report null instead.

Return the result table in any order.

### Example

Example 1:

Input:
Person table:
| personId | lastName | firstName |
|----------|----------|-----------|
| 1        | Wang     | Allen     |
| 2        | Alice    | Bob       |

Address table:
| addressId | personId | city          | state      |
|-----------|----------|---------------|------------|
| 1         | 2        | New York City | New York   |
| 2         | 3        | Leetcode      | California |

Output:
| firstName | lastName | city          | state    |
|-----------|----------|---------------|----------|
| Allen     | Wang     | Null          | Null     |
| Bob       | Alice    | New York City | New York |

Explanation:
There is no address in the address table for the personId = 1, so we return null in their city and state.
addressId = 1 contains information about the address of personId = 2.

https://leetcode.com/problems/second-highest-salary

In [23]:

# TODO Retrieve the second-highest salary

result = cursor.fetchone()[0]


# Print the result
if result is None:
    print(None)
else:
    print(result)

TypeError: 'NoneType' object is not subscriptable

cursor.execute('''SELECT MAX(salary) AS SecondHighestSalary
                  FROM Employee
                  WHERE salary NOT IN (SELECT MAX(salary) FROM Employee)''')


                  SELECT
    IFNULL(
      (SELECT DISTINCT Salary
       FROM Employee
       ORDER BY Salary DESC
        LIMIT 1 OFFSET 1),
    NULL) AS SecondHighestSalary



    SELECT
    (SELECT DISTINCT
            Salary
        FROM
            Employee
        ORDER BY Salary DESC
        LIMIT 1 OFFSET 1) AS SecondHighestSalary
;

In [14]:


# Close the cursor and the database connection
cursor.close()
conn.close()